@model IEnumerable<MyBlog.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Post list</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Post  <i class="bi bi-file-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a> 
                <a asp-action="Details" asp-route-id="@item.PostId" class="btn btn-success"><i class="bi bi-info-circle"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
